$white: #ffffff;

$gray-e5: #E5E5E5;
$gray-f5: #F5F5F5;

$dark-gray-42: #424242;

$black: #000000;
$black-87: rgba($black, 0.87);
$black-60: rgba($black, 0.6);


$blue: #1646A8;
$blue-08: rgba($blue, 0.08);

$osian-blue: #1BB1EC;
$osian-blue-08: rgba($osian-blue, 0.08);




