/* [Start] Font size */
@mixin fs-10 { font-size: 0.625rem; }

@mixin fs-12 { font-size: 0.75rem; }

@mixin fs-14 { font-size: 0.875rem; }

@mixin fs-16 { font-size: 1rem; }

@mixin fs-18 { font-size: 1.125rem; }

@mixin fs-20 { font-size: 1.25rem; }

@mixin fs-22 { font-size: 1.375rem; }

@mixin fs-24 { font-size: 1.5rem; }

@mixin fs-26 { font-size: 1.625rem; }

@mixin fs-28 { font-size: 1.75rem; }

@mixin fs-30 { font-size: 1.875rem; }

@mixin fs-32 { font-size: 2rem; }

@mixin fs-34 { font-size: 2.125rem; }

@mixin fs-36 { font-size: 2.25rem; }

@mixin fs-40 { font-size: 2.5rem; }

@mixin fs-46 { font-size: 2.875rem; }

@mixin fs-56 { font-size: 3.5rem; }

@mixin fs-70 { font-size: 4.375rem; }