@import 'colors';
@import 'global';
@import 'typography';
@import 'icons';

@import './components/buttons';
@import './components/form-elements';
@import './components/card';
@import './components/tabs';

@import './components/header';
@import './components/footer';