.c-tabs {

    .nav-tabs {
        border-bottom: 0;

        .nav-item {
            margin-bottom: 0;

            .nav-link {
                @include fs-16;
                color: $black-87;
                text-transform: capitalize;
                padding: 0.875rem 1.75rem;
                border: 0;
                line-height: normal;

                &.active {
                    border-radius: 0.375rem 0.375rem 0 0;
                    color: $blue;
                }
            } 
        }
    }

    .tab-content {
        background-color: $white;
        border-radius: 0.25rem;
        padding: 0.938rem;
    }
}

// Tabs

.c-tabs-one {
    .nav-tabs {
        border-bottom: 1px solid rgba(22, 70, 168, 0.5);

        .nav-item {
            width: 50%;
            text-align: center;

            .nav-link {
                @include fs-14;
                font-weight: 500;
                color: $black-60;
                text-transform: uppercase;
                padding: 0.75rem 0.5rem;

                &.active {
                    color: $blue;
                    border-radius: 0;
                    background-color: transparent;
                    border-bottom: solid 1px $blue;
                }
            }
        }    
    }    
    .tab-content {
        background-color: transparent;
    }
}